@page "/"
@using BlazorApp3.Data
@using MongoDB.Driver
@using MongoDB.Driver.GridFS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<InputFile OnChange="FileData" multiple></InputFile>



<table class="table">
    <thead>
        <tr>
            <th>Название файла</th>
            <th>Тип файла</th>
            
        </tr>
    </thead>
    <tbody>
       

        @foreach (var item in _loadedFiles)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.GetType</td>
                <td><button @onclick="()=>Reomove(item)">Удалить</button></td>
                <td><button @onclick="()=>DataAdd(item)">Добавить в базу</button></td>
            </tr>
        }
    </tbody>
</table>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    string name { get; set; }


    [Inject] FileSystemService service { get; set; }

    private List<IBrowserFile> _loadedFiles = new();

    async Task FileData(InputFileChangeEventArgs e)
    {

        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            _loadedFiles.Add(file);

        }
    }

    public void Reomove(IBrowserFile file)
    {
        _loadedFiles.Remove(file);
    }

    public void DataAdd(IBrowserFile file)
    {
        service.UploadImageToDb(file);

        _loadedFiles.Remove(file);
        
    }
}